<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='incharge_login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <title> {% block title %} {% endblock title %} Internship</title>
  </head>
  <body>
    <img
      class="demo-bg"
      src=""
      alt=""
    />
    <div class="demo-content">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="no img found"
        class="logo"
      />
      <form action="{{ url_for('index') }}" method="post">
        <button
          type="submit"
          name="redirect_button"
          value="login"
          class="indexbuttons"
          style="font-size: 19px"
        >
          Already Have an account
        </button>
        <button
          type="submit"
          name="redirect_button"
          value="register"
          class="indexbuttons"
        >
          Create New Account
        </button>
        <button
          type="submit"
          name="redirect_button"
          value="login_incharge"
          class="indexbuttons"
        >
          Login as Incharge
        </button>
      </form>
    </div>
      {% block body %}
        
      {% endblock body %}
  </body>
</html>
