<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reports</h1>
    <h3>Set Fliters</h3>
    <form action="" method="POST">
        <label for="start-year">From :</label>
        <input type="number" name="start-year" id="start-year">
        -
        <label for="end-year">To :</label>
        <input type="number" name="end-year" id="end-year"><br>

        <label for="class">Student's class</label>
        <select id="class" name="class">
            <option value="FE">FE</option>
            <option value="SE">SE</option>
            <option value="TE">TE</option>
            <option value="BE">BE</option>
        </select> 

        <label for="department">Student's department</label>
        <select name="department" id="department">
            
        </select>


        <label for="company">Organization</label>
        <select name="company" id="company">

        </select>

        <label for="internship-type">Internship Type</label>
        <select name="internship-type" id="internship-type">

        </select>

        <input type="submit" value="Filter">
    </form>
</body>
</html>