<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='report-nav.css') }}">
    <title>Document</title>
</head>
<body>
    <img class="demo-bg" src="" alt=""/>
    <div class="demo-content">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="no img found" class="logo">
    <ul>
        <li><a href="">Accademic Year Report</a></li>
        <li><a href="">Last Three Years </a></li>
        <li><a href="">In-House</a></li>
        <li><a href="">Out-House</a></li>
        <li><a href="{{ url_for('report.year_end_summary_report') }}">Year Summary</a></li>
        <li><a href="">Roll Wise Report</a></li>
        <li><a href="">Company Summary</a></li>
    </ul>
    </div>
</body>
</html>