<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <h1>Upload the Offer Letter</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Offer Letter(.pdf/.doc/.docx):</label>
        <input type="file" name="file" accept=".pdf, .doc, .docx">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
